.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: white;
}
.login__logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}
.login__container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  border: 1px solid black;
  padding: 20px;
}
.login__container {
  font-weight: 500;
  margin-bottom: 20px;
}
.login__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}
.login__container > form > h5 {
  margin-bottom: 5px;
}
.login__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
  border-radius: 9px;
}
.login__container > p {
  margin-top: 15px;
  font-size: 12px;
}
.login__signInButton,
.login__registerButton {
  background-color: #ffae42;
  border-radius: 9px;
  width: 100%;
  border: 1px solid;
  margin-top: 10px;
  border-color: black;
}
.form__p {
  text-align: center;
  font-size: 20px !important;
}
